body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
}

.container {
    width: 70%;
    height: 70vh;
    background: white;
    display: flex;
}

.login {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login input {
    padding: 12px;
    margin-bottom: 15px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    padding: 12px;
    border: none;
    cursor: pointer;
    background-color: purple;
    color: white;
}

.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.side {
    width: 50%;
    background-image: url("/img/rowen-smith-HaDtIq5TIFI-unsplash.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
}

.about {
    color: aliceblue;
    padding: 30px;
}